<TMPL_IF NAME=SHOW_COMMENTS_TAB>
<li id="comments-tab"<TMPL_IF NAME=TAB_COMMENTS> class="yah"</TMPL_IF>><a href="#" onclick="tabToggle('comments', entry_tabs)"><MT_TRANS phrase="Comments ([_1])" params="<TMPL_VAR NAME=NUM_COMMENTS>"></a></li>
</TMPL_IF>
